:root {
  --ff-ssp-r: "Source Sans Pro Regular", sans-serif;
  --ff-ssp-b: "Source Sans Pro Bold", sans-serif;
  --ff-ssp-i: "Source Sans Pro Italic", sans-serif;
  --ff-ssp-bi: "Source Sans Pro Bold Italic", sans-serif;
  --ff-ssp-sb: "Source Sans Pro Semibold", sans-serif;
  --ff-ssp-sb-i: "Source Sans Pro Semibold Italic", sans-serif;
  --ff-nm-r: "NanumMyeongjo Regular";
  --ff-nm-b: "NanumMyeongjo Bold";
  --ff-nm-eb: "NanumMyeongjo ExtraBold";
  --marg-d: 2rem;
  --marg-m: 1rem;
  --c-dark: #253031;
  --c-light: #f4eeed;
  --c-acc-1: #699fe6;
  --c-acc-2: #cee397;
  --c-acc-3: #fb4d3d;
  --border-px: 0.7px;
  --border-rad: 20px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osxfont-smoothing: grayscale;
  background-color: var(--c-light);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media all and (min-width: 568px) {
  body {
    margin: var(--marg-d);
    gap: var(--marg-d);
  }
}
@media all and (max-width: 568px) {
  body {
    margin: var(--marg-m);
    gap: var(--marg-m);
  }
}

main {
  display: flex;
  gap: 2.5rem;
  width: 100%;
  flex: 1 1 auto;
}
@media all and (min-width: 568px) {
  main {
    flex-direction: row;
  }
}
@media all and (max-width: 568px) {
  main {
    flex-direction: column;
  }
}

section {
  flex: 1 1 auto;
  max-width: 700px;
}

nav {
  display: flex;
  row-gap: 0.5rem;
}
@media all and (min-width: 568px) {
  nav {
    flex-direction: column;
  }
}
@media all and (max-width: 568px) {
  nav {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
}

.students {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1ch;

  & > a {
    width: 100%;

    flex: 1 1 auto;
    border: var(--border-px) solid var(--c-dark);
    border-radius: var(--border-rad);
    text-align: center;
    line-height: 5rem; /* temp fix */
  }
}

/* ---------------------------------- text ---------------------------------- */

h1 {
  font-family: var(--ff-nm-r), serif;
  font-size: 3rem;
  letter-spacing: -0.15rem;
  line-height: 4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osxfont-smoothing: grayscale;
}

h1 a:hover,
h1 a:focus {
  box-shadow: none;
  background-color: transparent;
}

.subtitle {
  font-family: var(--ff-ssp-b), sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

h2 {
  font-family: var(--ff-ssp-sb), sans-serif;
  font-size: 1.5rem;
}

h3 {
  font-family: var(--ff-ssp-r);
  font-size: 1.4rem;
}

h4 {
  font-family: var(--ff-nm-eb);
  font-size: 1rem;
  padding-top: 0.75rem;
}

nav {
  font-family: var(--ff-nm-eb);
  font-size: 1.2rem;
  letter-spacing: -0.05rem;
  min-width: 142px;
}

nav a {
  padding: 0.8ch;
  border: var(--border-px) solid var(--c-dark);
  border-radius: var(--border-rad);

  transition:
    color ease-in 0.3s,
    background-color ease-in 0.5s,
    box-shadow ease-in 0.5s;
}

header,
nav {
  a {
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: inherit;
  }
}

p,
a,
li {
  font-family: var(--ff-ssp-r);
  font-size: 1rem;
  color: var(--c-dark);
}

a {
  position: relative;
}

nav a:hover,
nav a:focus {
  color: var(--c-light);
  box-shadow: inset 0px 1px 5px 0px var(--c-light);
  background-color: var(--c-dark);
}

nav a.ext::after {
  content: "";
  background-image: url("assets/NE-arrow.png");
  background-repeat: no-repeat;
  background-size: 0.8ch 0.8ch;
  width: 1ch;
  height: 1ch;
  transform: rotate(0deg);
  margin-left: 0.5ch;
  display: inline-block;
  transition: filter ease-in-out 0.5s;
}

nav a.ext:hover::after,
nav a.ext:focus::after {
  filter: invert(100%);
}

a.ext::after {
  content: "↓";
  display: inline-block;
  transform: rotate(225deg);
}

a {
  background-color: transparent;
  transition:
    box-shadow ease-in-out 0.5s,
    background-color ease-in-out 0.5s;
}

a:hover,
a:focus {
  box-shadow: inset 0px 14px 13px 2px var(--c-light);
  background-color: var(--c-acc-3);
}

ul {
  padding-inline-start: 0rem;
}

li {
  list-style: none;
}

li::before {
  content: "\2734";
  font-size: 0.7rem;
  padding-right: 1ch;
}

a:visited {
  color: inherit;
}

.dueDate {
  font-family: var(--ff-ssp-b);
}

.eachWeek:not(:first-of-type) > h3,
#assignments > *:not(:first-of-type) > h3,
#resources > *:not(:first-of-type) > h3 {
  padding-top: 2.5rem;
}

.readings-h4 {
  width: fit-content;
  box-shadow: inset 0px 13px 20px 5px var(--c-light);
  background-color: var(--c-acc-1);
}

.assignments-h4 {
  width: fit-content;
  box-shadow: inset 0px 9px 15px 1px var(--c-light);
  background-color: var(--c-acc-2);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

/* ------------------------------ DOM inspector ----------------------------- */

#DI-toggle {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  z-index: 200;
}

.DI > * {
  transition: z-index ease-in 1s;
}

.DI .margin {
  background-color: rgba(72, 66, 45, 0.258);
}

.DI .border {
  /* background-color: rgba(0, 255, 98, 0.7); */
}

.DI .padding {
  /* background-color: rgba(72, 66, 45, 0.526); */
  /* background-color: rgba(72, 66, 45, 0.258); */
}

.DI .content {
  /* border: 1px dotted black; */
}

.DI .tips {
  background-color: rgba(72, 66, 45, 0.787);
  /* background-color: var(--c-dark); */
}

.DI .tips .tag {
  color: var(--c-acc-1);
}

.DI .tips .id {
  color: var(--c-acc-2);
}

.DI .tips .class {
  color: var(--c-acc-3);
}

.DI .tips .size {
  color: var(--c-acc-3);
  margin-left: 1rem;
}

.DI .tips .line {
  display: none;
}

.DI .tips > div {
  font-family: var(--ssp-r);
  color: var(--c-light);
}

.DI .tips .triangle {
  display: none;
}

/* ------------------------------- font faces ------------------------------- */

@font-face {
  font-family: "Olympic";
  src: url("./assets/Olympic-Light.otf");
}

@font-face {
  font-family: "Goudy";
  src: url("./assets/GoudyBookletter1911-Regular.ttf");
}

@font-face {
  font-family: "Aileron Bold";
  src: url("./assets/Aileron-Bold.otf");
}

@font-face {
  font-family: "Aileron Regular";
  src: url("./assets/Aileron-Regular.otf");
}

@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("./assets/SourceSansPro-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("./assets/SourceSansPro-Bold.otf");
  font-weight: bolder;
}

@font-face {
  font-family: "Source Sans Pro Bold Italic";
  src: url("./assets/SourceSansPro-BoldIt.otf");
  font-style: italic;
  font-weight: bolder;
}

@font-face {
  font-family: "Source Sans Pro Semibold";
  src: url("./assets/SourceSansPro-Semibold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro Semibold Italic";
  src: url("./assets/SourceSansPro-SemiboldIt.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro Italic";
  src: url("./assets/SourceSansPro-It.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "NanumMyeongjo Regular";
  src: url("./assets/NanumMyeongjo-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "NanumMyeongjo Bold";
  src: url("./assets/NanumMyeongjo-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "NanumMyeongjo ExtraBold";
  src: url("./assets/NanumMyeongjo-ExtraBold.ttf");
  font-weight: bolder;
}
